@font-face {
    font-family: Monts-Thin;
    src: url(./Assets/Fonts/Montserrat/Montserrat-Thin.ttf);
}
@font-face {
    font-family: Monts-Med;
    src: url(./Assets/Fonts/Montserrat/Montserrat-Medium.ttf);
}
@font-face {
    font-family: Monts-Light;
    src: url(./Assets/Fonts/Montserrat/Montserrat-Light.ttf);
}
@font-face {
    font-family: Quicksand;
    src: url(./Assets/Fonts/Quicksand/Quicksand-Regular.ttf);
}
@font-face {
    font-family: Quicksand-Light;
    src: url(./Assets/Fonts/Quicksand/Quicksand-Light.ttf);
}
@font-face {
    font-family: Outfit-Light;
    src: url(./Assets/Fonts/Outfit/Outfit-Light.ttf);
}


.quicksand {
    font-family: Quicksand;
}
.quicksand-light {
    font-family: Quicksand-Light;
}
.outfit-light {
    font-family: Outfit-Light;
}
.monts-thin {
    font-family: Monts-Thin;
}
.monts-med {
    font-family: Monts-Med;
}

.text-red {
    color: red;
}
.text-yellow {
    color: yellow;
}
.text-blue {
    color: blue;
}
.text-black {
    color: black;
}
.text-pink {
    color: pink;
}
.text-orange {
    color: orange;
}
.text-green {
    color: green;
}
.text-purple {
    color: purple;
}
.text-center {
    text-align: center;
}
.medium-size {
    font-size: 30px;
}
.small-size {
    font-size: 20px;
}

.intro_adv {
    /* background-color: #4C91E4; */
    background-attachment: fixed;
    background-size: cover;

    height: 100%;
    z-index: 2;
    text-align: center;
}

#intro_main {
    background-color: orange;
    background-attachment: fixed;
    background-size: cover;

    height: 100%;

    font-family: Quicksand;
    font-size: 20px;
}

.intro_adv > #name {
    color: Pink;

    font-size: 50px;

    text-align: center;
    padding-top: 150px;
    padding-bottom: 50px;

    font-family: Monts-Light;
}

.intro_adv > #statement {
    padding-top: 50px;
    padding-bottom: 50px;
    
    font-size: 20px;
    font-family: Monts-Light;
    text-align: center;

    color: #FFD372;
}

#checkbutton {
    text-align: center;
}

#taskbar_links {
    position: fixed;
    width: 100%;
    top: 0;

    font-family: Monts-Med;
    z-index: 1;
}


#taskbar_links > ul {
    list-style: none;
    overflow: hidden;
    background-color: #000000;
}

#taskbar_links > ul > li {
    display: inline;
    float: left;
}

#taskbar_links > ul > li > a {
    display: block;
    padding: 20px 30px;

    font-size: 2vw;
    color: White;

    text-decoration: none;
}

#taskbar_links > ul > li > a:hover {
    color: orange;
    transition: 0.3s;
}

.blog-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#link_box {
    border: 2px solid gray;
    border-radius: 8px;

    background-color: White;
    overflow: hidden;

    text-align: center;
    font-family: Monts-Light;

    font-size: 20px;

    box-shadow: none;
    height: 450px;

    text-decoration: none;
    color: Black;
    transition: 0.3s;
}

#link_box:hover {
    background-color: #89CC37;
    color: #670F88;
    transition: 0.3s;
    transform: translateY(-5px);

    box-shadow: 8px 12px gray;
}

#link_box > #image_box {
    width: 400px;
    height: 300px;

    border: 2px solid gray;
    border-radius: 8px;

    box-sizing: border-box;

    overflow: hidden;

    margin: 20px auto;
}

#link_box > #image_box > img {
    width: 400px;
    height: 300px;

    object-fit: fill;
}

#link_box > #blog_name {
    padding: 10px;
    line-height: 50px;
}

#link_box {
    padding: 25px 25px;
    margin: 15px 15px;
}

/* CSS */
.keyboard-button {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: Quicksand;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  /* position: relative;
  text-align: left;
  text-decoration: none; */
  transition: box-shadow .15s,transform .15s;
  -webkit-user-select: none;
  user-select: none;
  /* touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform; */
  font-size: 18px;
}

.keyboard-button:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.keyboard-button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.keyboard-button:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

.video-container > video {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: -1;
}

.section-container {
    min-height: 800px;

    font-family: Quicksand;
    font-size: 25px;
}
.section-container > #title {
    color: #3733A8;
    text-align: center;

    padding-bottom: 50px;
}

.blog-box {
    width: 80%;
    margin: auto;
}
.blog-box > .attachment {
    max-width: 800px;

    border-radius: 5px;
    border: 2px solid gray;
    background-color: white;

    margin: 100px auto 100px;

    padding: 20px;
    box-shadow: 5px 5px rgb(163, 163, 163);

    font-size: 20px;
}

.blog-box > .attachment > img, video {
    width: 100%;
    min-height: 60%;
    max-height: 80%;
    object-fit: fill;
}


.blog-box > .text {
    margin-top: 100px;
    margin-bottom: 100px;
    line-height: 50px;
}

@media only screen and (max-width: 800px) {
    .intro_adv > #name {
        font-size: 20px;
        padding-top: 100px;
    }
    .intro_adv > #statement {
        font-size: 10px;
    }

    #checkbutton {
        font-size: 10px;
    }

    .keyboard-button {
        height: 30px;
        width: 100px;
    }
    
    #taskbar_links > ul > li > a {
        padding: 10px 10px;
    }

    #link_box > #image_box {
        width: 300px;
        height: 200px;
    }
    
    #link_box {
        width: 400px;
        height: 350px;
        font-size: 15px;
        margin: 50px auto;
    }

    #link_box > #image_box > img {
        width: 300px;
        height: 200px;
        margin: auto;
    }
    
    #link_box > #blog_name {
        padding: 10px;
    }

    #link_box {
        padding: 25px 25px;
    }

    .section-container {
        min-height: 1500px;
    }
}

@media only screen and (max-width: 500px) {
    #link_box > #image_box {
        width: 200px;
        height: 100px;
    }
    
    #link_box {
        width: 200px;
        height: 300px;
        font-size: 15px;
        margin: 50px auto;
    }

    .blog-container {
        flex-direction: column;
    }
    #link_box > #image_box > img {
        width: 200px;
        height: 100px;
        margin: auto;
    }

    .section-container {
        min-height: 1200px;
    }

    .blog-box {
        font-size: 20px;
    }

    .medium-size {
        font-size: 20px;
    }
    .small-size {
        font-size: 10px;
    }
}
